*{
    margin:0;
    padding:0;
    text-align:center;
    background-color:rgb(222, 146, 58);
}

h1{
    background-color:#081b31;
    color:white;
    height:5rem;
    line-height:5rem;
}

.choice{
    height:200px;
    width:200px;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-bottom:3.5rem;
}

.choice:hover{
    cursor:pointer;
    background-color:rgba(255, 255, 255, 0.663);
}

img{
    height:150px;
    width:150px;
    object-fit:cover;
    border-radius:50%;
}

.choices{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:5rem;
    gap:3rem;
}

.score_board{
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:2rem;
    gap:10rem;
    margin-top:3rem;
}

.your_score, .computer_score{
    font-size:4rem;
}

.message_container{
    margin-top:5rem;
}

.message{
    background-color:#081b31;
    color:white;
    line-height:5rem;
    display:inline;
    font-size:3rem;
    border-radius:2rem;
    padding:1rem;
}